<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kc.debug">

    <application>
        <activity android:name=".mutiltype.MutilTypeActivity" />
        <activity android:name=".DebugViewActivity" />
        <activity android:name=".tabscroll.TabActivity"/>
        <activity android:name=".pickerdate.PickerActivity"/>
    </application>

</manifest>