<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kc.mvvmcomponent">

    <application
        android:name="com.kc.library.base.application.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kcbyzjw"
        android:label="${APP_NAME}"
        tools:replace="android:label"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/app_theme">

        <!--打多渠道包-->
        <meta-data
            android:name="PACKAGE_CHANNEL"
            android:value="${channel}" />

    </application>

</manifest>