<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kc.mvvmcomponent">

    <application
        android:name=".AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/kcbyzjw"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/app_theme"/>
</manifest>